@model ProjetoPratico.Models.Login
@{
    ViewBag.Title = "Index";
}



    <h3>Efetue o Login</h3>
    <form  method="post" ng-app="app">


       
        @Html.LabelFor(c => c.User)
        @Html.TextBoxFor(c => c.User, null, new { ng_model = "Login.User" })
        @Html.LabelFor(c => c.Senha)
        @Html.TextBoxFor(c => c.Senha, null, new { ng_model = "Login.Senha" })
        <br />
        <input type="submit" value="Logar" class="btn btn-default" />

    </form>
 
  


@section scripts{


    <script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/Controller/LoginController.js"></script>

}