<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Aula 19</title>
	<meta charset="utf-8" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-cookies.min.js"></script>
    <script src="Scripts/aula19.controller.js"></script>
</head>
<body >
    <div ng-controller="Aula19controller">
        <button type="button" ng-click="criarCookie()">Criar Cookie</button>
        <button type="button" ng-click="getValorCookie()">Get Valor Cookie</button>
        <button type="button" ng-click="removeCookie()">Remove Cookie</button>
    </div>
    <div ng-controller="Aula19controller_2">
        <button type="button" ng-click="getValorCookieC2()">Get Valor cookie</button>
    </div>
   

</body>
</html>
